$main_bright_color: #fdc5cd;
$add_backg_color: #F8F3F4;


.Post{
  margin:0 30px;
  cursor: pointer;
  border-radius: 20px;
  padding: 5px;
}

.Post:hover{
background-color: $main_bright_color;
scale: 1.05;
}

.Posts a{
  text-decoration: none;
}

