$main_bright_color: #e9b1b9;
$add_backg_color: #F8F3F4;

.Post{
  margin:20px 30px;
  cursor: pointer;
  border-radius: 20px;
  
}

.Post:hover{
background-color: $main_bright_color;
scale: 1.05;
}

.Posts{

}
.Posts a{
  text-decoration: none;
}
h4 {
 font-family:  "Droid Sans";
}
